# input folder location
input_folder =/home/kiran/Pictures

# input file type (jpg/png/gif)
input_file_type = png

# output folder location
output_folder =/home/kiran/Desktop/temp

# output file type(jpg/jpeg)
output_file_type =jpg

# output image quality (00-100):
image_quality =100

# apply scaling to output image ?(yes/no):
apply_scaling =yes

#maintain aspect ratio ? (yes/no):
maintain_aspect_ratio =yes

#output image width (pixels):
image_width =500

# output image height(pixels):
image_height = 500
